@model IEnumerable<Bike_store.Bike>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.P_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_BikeBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_BikeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_BikeGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_BikeSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_HourRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_DayRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Discription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_BikeBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_BikeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_BikeGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_BikeSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_HourRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_DayRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Discription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BikeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BikeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BikeId })
        </td>
    </tr>
}

</table>
