@model IEnumerable<Bike_store.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.P_StreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_MaxCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_StreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_MaxCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StoreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoreId })
        </td>
    </tr>
}

</table>
